{% extends "CMDB/unlogindex.html" %}

{% block linkofnamelogin %}{% endblock linkofnamelogin %}

{% block namelogin %}{% endblock namelogin %}

{% block titleofmain %}注册测试{% endblock titleofmain %}

{% block card1title %}欢迎注册{% endblock card1title%}

{% block card2 %}{% endblock card2%}

{% block card1text %}
    {% autoescape off %}
</br>
</br>
        <form class="form-register" action="/register/" method="post">
            {% if message %}
                <div class="alert alert-warning">{{message}}</div>
            {% endif %}
            {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">用户名</label>
                    <input type="text" name="username" class="form-group" id="id_username" placeholder="Username" autofocus required>
                </div>
                <div class="form-group">
                    <label for="id_password">密码</label>
                <input type="password" name="password1" class="form-control" id="id_password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="id_password">确认密码</label>
                <input type="password" name="password2" class="form-control" id="id_password" placeholder="Password" required>
                </div>
                <div>
                    <a href="/login/"  ><ins>直接登录</ins></a>
                    <button type="submit" class="btn btn-primary float-right">注册</button>
                </div>
        </form>
    {% endautoescape %}
{% endblock card1text%}

{% block page %}注册页面{% endblock page %}